[2015-04-23 13:59] pimagical opened #1 "Adding device gives error"
1. Added iwy-light-master 0.0.2-1 with use of the GUI plugin page.
2. restart
3. Commit device in config gives error message Cannot find module '/home/pi/pimatic-app/node_modules/pimatic-iwy-light-master/iwy-light-master-schema.coffee'

   {
     "id": "IwyLightMaster",
     "name": "IwyLightMaster",
     "class": "IwyLightMaster",
     "location": "living room",
     "addr": "xxx.xxx.xxx.xxx",

[2015-04-23 14:02] pimagical opened #2 "Example missing ,"
Confuguration           > Configuration

[code]

[2015-04-25 13:21] philip1986 commented on #1
I fix this issue you can install the latest version of the plugin via `npm i pimatic-led-light`. The plugin is also renamed now, so you will have to adjust your config.

[code]

[2015-04-25 13:21] #1 closed, assigned to nobody

[2015-04-25 13:27] philip1986 commented on #2
Oh yes! It is fix. Tanks for the hint.

[2015-04-25 13:27] #2 closed, assigned to nobody

[2015-04-27 06:42] mwittig opened #5 "Integration of Milight; Separation into device types"
I have forked from master yesterday to integrate Milight. Pull request follows

[2015-04-27 07:04] mwittig commented on #5
Just a few words about my code changes
- I have created another device class "Milight" we uses the same template as LedLight
- I have left the implementation of LedLight untouched, but you may want to consider the separation of Iwy and Wifi370 modes into two device classes. Note, you can also use inheritance as part of the device implementation, say a LedLightBase class for common functionality
-

[2015-04-27 07:09] mwittig commented on #5
The following configuration works file for me

Plugin:

[code]

Device:

[code]

[2015-05-03 08:41] philip1986 commented on #5
checkout https://github.com/philip1986/pimatic-led-light/pull/7

[2015-05-09 19:03] philip1986 opened #8 "Timeout error during start of Pimatic"
If an led-light-device is configured the plugin tries to query the current state of the devices during the bootstrap time and runs often into an timeout.

[2015-05-11 21:57] mwittig opened #10 "Toggle switch event gets lost if color picker is open"
I have noticed a bug with the color picker: If the color picker is open and you toggle the switch the switch event is not fired or gets lost somehow. As a result the UI switch is switched but the switch action is not performed.

[2015-05-26 12:35] philip1986 commented on #5
Done by https://github.com/philip1986/pimatic-led-light/pull/9

[2015-05-26 12:35] #5 closed, assigned to nobody

[2015-06-27 14:23] jensebub opened #17 "can't update on banana-pi [ERR! This is most likely a problem with the usb package]"
since last update, i got some errors during the installation:

[code]

regards
jensebub

[2015-06-27 15:58] philip1986 commented on #17
Yes, it looks like an issue with usb and serialport. Have try to run `npm install usb`? Which OS you are running? If it is Debian you can also try this `sudo apt-get install libudev-dev`, since the root of the issue seams to be that libudev.h is missing.

[2015-06-27 16:29] jensebub commented on #17
apt-get install libudev-dev solved the issue.

Thx a lot
jensebub

[2015-06-27 16:32] philip1986 commented on #17
Nice :)

[2015-06-27 16:32] #17 closed, assigned to nobody

[2015-06-28 21:21] mwittig opened #18 "Installations fails on raspberry pi 2"
[code]

[2015-07-01 08:41] jensebub commented on #18
`apt-get install libudev-dev` solved my Prob during install ;)

see also: https://github.com/philip1986/pimatic-led-light/issues/17

greetings
jensebub

[2015-07-01 11:05] mwittig commented on #18
@jensebub Thanks. I'll give it a try and will report back.

[2015-07-12 19:45] tester22 opened #19 "setColor in color_action.coffee"
Hi,

This code breaks rules for me:
https://github.com/philip1986/pimatic-led-light/blob/master/predicates_and_actions/color_action.coffee#L36

What is the purpose of this function?

[2015-07-13 08:07] philip1986 commented on #19
Hi,

the purpose is to change the color of the light device. So you could have a rule like:
"if ... than set device to red "

Can you please provide an example of the breaking rules.

[2015-07-13 09:55] tester22 commented on #19
Hi.

My rule is as simple as:

set blinkstick to red

The error message is setColor: is undefined.

When removing this code the rule works as expected (changeing color to red).

[2015-07-14 15:51] tester22 commented on #19
Another user seems to have the same issue after the last update: http://forum.pimatic.org/topic/687/problems-with-color-change-pimatic-led-light-plugin-with-milight

[2015-08-04 17:21] philip1986 commented on #18
Didi it work? Can I close this issue?

[2015-08-04 17:22] philip1986 commented on #10
Is this still the case?

[2015-08-11 11:29] mwittig commented on #10
Yes, this is still the case,

[2015-08-11 12:25] mwittig opened #24 "Milight setColor() raises 'color undefined' error"
I have just noticed the setColor() action as part of the Milight device class is broken. Looks like the code broke due to a previous merge. I'll provide a fix for this soon.

[2015-08-11 12:33] mwittig commented on #18
See my PR to document the dependency as part of the README

[2015-08-11 16:17] philip1986 commented on #19
@tester22 you are right the code at this line is broken. It will be fixed soon.

[2015-09-15 07:37] incmve opened #27 "Wifi370 no colors"
Hi guys,

I installed the plugin and I can switch on and off my Wifi370 LED's.
I can't change the color or dim the LED's nothing happens, I tried with a rule

[code]

The LED's are switched on and in the colorpicker I see it changing to red but the LED's stay white.
What am I doing wrong, can I supply log's or anything?

another user reported the same thing in my forum topic.
http://forum.pimatic.

[2015-10-04 10:22] philip1986 commented on #24
fixed by https://github.com/philip1986/pimatic-led-light/pull/25

[2015-10-04 10:22] #24 closed, assigned to nobody

[2015-10-04 10:23] philip1986 commented on #19
fixed by https://github.com/philip1986/pimatic-led-light/pull/25

[2015-10-04 10:23] #19 closed, assigned to nobody

[2015-10-04 10:24] philip1986 commented on #18
fixed by https://github.com/philip1986/pimatic-led-light/pull/25

[2015-10-04 10:24] #18 closed, assigned to nobody

[2015-10-04 10:27] philip1986 commented on #27
I think this the same like https://github.com/philip1986/pimatic-led-light/issues/19. Or correct my if I am wrong!

[2015-10-05 16:33] incmve commented on #27
Hey, there was no update available so I pulled the git.
But it isn't working :(
It's the same, on/off work but color changing isn't.

I have it working using scriptfiles made by @leader21 https://github.com/pimatic/pimatic/issues/348#issuecomment-68384242
He is using this "driver"
https://github.com/secesh/node-rgb

[2015-10-05 17:23] leader21 commented on #27
my scripts are using another lib. I was first playing with the above mentioned but then I was switching over to this one here https://github.com/b4cedev/node-light-wifi370
just have a closer look at the threat mentioned by incmve

but @mwittig created a pull request to the led plugin  that still hasn't been released to the master branch yet. This should solve the mentioned issues

have a look here

[2015-10-05 18:26] philip1986 commented on #27
The PR from @mwittig (https://github.com/philip1986/pimatic-led-light/pull/25) which address also the color issue is already merged to the master, but not published on npm. What I can say for sure its working for device IwyMaster. The device WIFI370 is using the same "driver" as IwyMaster, so there might be differences in the protocol between WIFI370 and IwyMaster.

[2015-10-05 20:08] philip1986 commented on #10
Its fixed now at the Master (by this PR https://github.com/philip1986/pimatic-led-light/pull/30). I will soon publish a new version on npm.

[2015-10-05 20:08] #10 closed, assigned to nobody

[2015-10-05 20:13] mwittig commented on #10
Great. Thanks!

[2015-10-10 20:37] Xento opened #31 "Different state handling"
The state handling with this plugin is different to normal devices.
When you want to use the state (on / off) in a rule you can use "if switch is on" for normal devices.
When you want to do the same with this plugin you have to write "if power of ledlight is on".
I think there should be a consisten syntax for rules.

[2015-12-14 12:03] michbeck100 opened #34 "Is this project still active?"
SInce there were no commits sind Oct. 5th i'd like to know, if this project is still maintained by anyone? I've added this [pull request](https://github.com/philip1986/pimatic-led-light/pull/33), but there was no reaction since then.

[2015-12-14 12:12] mwittig commented on #34
@philip1986 If you're too busy, I am happy to help with maintaining the project.
May be you can be you can add as co-maintainer on github and npmjs? This would be great.

[2015-12-15 09:56] philip1986 commented on #34
Sorry, I didn`t have the much time to take care about it. But I added @mwittig as maintainer, he take care about your PR.

[2015-12-15 09:56] #34 closed, assigned to nobody

[2015-12-16 09:00] mwittig commented on #27
@incmve A new release of pimatic-led-light is available. Can you please give it try? If the problem with your Wifi370 remains it is most likely a problem with the underlying iwy-master package. Please also let me know if you know an alternative node package which works with your Wifi370. I am happy to look into this - either retrofit changes into iwy-master or create an additional device implement

[2015-12-16 09:38] incmve commented on #27
I am updating now and going to test.

Leader21 used https://github.com/b4cedev/node-light-wifi370 with some scripts and that worked perfect for switching on/off and switching pre-defined colors.
https://github.com/pimatic/pimatic/issues/348#issuecomment-68418652

Here is another but I havent tested it
https://github.com/firsttris/node-red-contrib-wifi370

[2015-12-16 10:57] mwittig commented on #27
I had a brief look at node-light-wifi370. As far as I can see it is using the same command sequences for color&brightness as iwy-master.

[2015-12-16 12:12] incmve commented on #27
I hooked up the wifi370 but it won't connect to my wifi _sigh_

[2015-12-18 16:29] thymian commented on #27
hey,
i got 3 Wifi370 devices in my apartment but i cant switch the colors. The thing is i am pretty sure that i was able to switch colors some versions ago. Cant exactly say when it broke, but would be pretty happy if this could be solved.

I can provide the infos whatever you want. If needed I could also borrow some (german) developer one of my controllers via mail to get it working again.

Curre

[2015-12-18 16:33] mwittig commented on #27
@thymian Thanks for the feedback. Did you also try with the latest version of the plugin published 3 days ago?

[2015-12-18 16:35] thymian commented on #27
yes, i followed your guide http://forum.pimatic.org/topic/1114/updated-how-to-install-a-plugin-from-github/1
to remove the plugin completely and then reinstalled it.
Sadly it doesnt work :(

[2015-12-18 16:51] mwittig commented on #27
Gosh. I think I know what it is. Try to add the following to your device config:

[code]

For example:

[code]

[2015-12-18 17:06] thymian commented on #27
i ran out of time, thanks for your answer, i will test this tomorrow.

One more thing:
pimatic-led-light is producing lots of errors for me:
error [pimatic-led-light]: [Error: write after end]
and
error [pimatic-led-light]: [Error: connection timeout]

But maybe your change will fix this, too?! I keep you updated tomorrow.

[2015-12-18 18:15] philip1986 commented on #27
@thymian where did you buy your controllers? I have also one (bought at Ebay), but unfortunately its using a whole different protocol.

[2015-12-19 09:27] thymian commented on #27
@mwittig You are awesome! When i added <"device":"wifi370"> everything works fine again! Thanks for your help and thanks a lot for your nice plugin!

@philip1986 i bought all my controllers on amazon (germany) for about 25€. If you are still searching the right ones or want to know more about your problem i think this issue is interesting for you: https://github.com/pimatic/pimatic/issues/348
Furt

[2015-12-19 09:39] mwittig commented on #27
@thymian Thanks. It's great it is working now. Meanwhile I have published a new new release and the `device` property is no longer required. Can please give it try occasionally just to double-check this is also working as expected? This would be great!

[2015-12-19 10:04] thymian commented on #27
@mwittig Yeah i saw your changes in the code and thought that adding device might be obsolete now. Just tried it and color changing works again with all controllers.

But there are some things which are kind of ugly i want to inform you about (but i don't really care because it is working)
1) the two errors i mentioned above occur regulary (but they arent really errors, because everything is worki

[2015-12-19 11:06] mwittig commented on #27
@thymian Thanks for the video which demonstrates issue 2) and 3) very well. I haven't experienced issue 2) so far, btw. Which browser are you using? I'll have a look at these issues as soon as I can.

The "white X" is to change to white mode which which is supported with some of the LED controllers which provide four channels R-G-B-W. For Wifi370 it may be emulated by setting the approprate RGB va

[2015-12-20 14:13] mwittig commented on #27
@thymian Minor update:

Regarding 1) I have no news yet. I am not able to reproduce it yet.

I am able to reproduce 2) now. I am not sure whether this is to due recent changes in pimatic-led-light or it is due to some subtle changes in modible frontend code. I'll investigate this further as soon as I can.

Regarding 3) I have written a mockup server to see the byte sequences sent to the Wifi370. A

[2015-12-20 16:44] philip1986 commented on #27
Regarding 1) the issue is caused by pushing to many commands via the socket. I thing it could be solved by either refactoring the "[driver](https://github.com/philip1986/iwy_master)" or change the UI behavior and lower the calls to the light device

Regarding 3) By just looking into the error message, it lseeams like the issue is driver by pimatic-hap

@thymian thx for the advice, I will try to bu

[2015-12-21 23:55] thymian commented on #27
I dont think it is a browser issue, because chrome and safari both behave the same.

Regarding 3 (long error message):
So you say pressing the X on the upper right corner sets the R,G,B LEDs to 0% and the W LEDs to 100% (with an RGBW Stripe and Controller)?
I have to think about a good way to use it as wifi370 user.
Option 1: Make it invisible for RGB Controllers
Option 2: One can set an RGB value

[2015-12-22 11:56] mwittig opened #35 "UI flickering (loading toast displayed) if mouse is hold-own on color picker"
) if i hold down the mouse on the color wheel, the pimatic GUI is kind of blinking because of the "loading"-window. I cant really describe it so i made a video. https://youtu.be/Agt1bTkHmhw

See also: https://github.com/philip1986/pimatic-led-light/issues/27

[2015-12-22 12:02] mwittig opened #36 "Wifi370 error messages"
pimatic-led-light is producing lots of errors for me:
error [pimatic-led-light]: [Error: write after end]
and
error [pimatic-led-light]: [Error: connection timeout]

See also https://github.com/philip1986/pimatic-led-light/issues/27

[2015-12-22 12:03] mwittig opened #37 "Wfif370 exception on white mode"
if i press the white X on the color wheel (which i dont really know what its for because one can switch it of with the switch on the right) pimatic produces a long error which you can also see in the video https://youtu.be/Agt1bTkHmhw

See also https://github.com/philip1986/pimatic-led-light/issues/27

[2015-12-22 12:04] mwittig commented on #37
@thymian I have written a mockup server to see the byte sequences sent to the Wifi370. As far as I can see the byte sequences sent are OK, but may be it is the response from Wifi370 causing the error. Can you please send me there error message with the full statck trace? Thanks.

[2015-12-22 12:06] mwittig commented on #35
@thymian I am able to reproduce this issue now. I am not sure whether this is to due recent changes in pimatic-led-light or it is due to some subtle changes in modible frontend code. I'll investigate this further as soon as I can.

[2015-12-22 12:07] philip1986 commented on #35
The blinking issue might be introduced by a change I did a while ago and you published recently.

See [this](https://github.com/philip1986/pimatic-led-light/blob/master/ui/led-light.coffee#L59) and the following lines.

It delays a call to the light device until the call before is done and the callback was fired. Further it flushes the queue if there are already two commands waiting for execution

[2015-12-22 12:08] mwittig commented on #27
I am closing this ticket now. Please use the new issue tickets for further correspondence. Regarding the feature requests see http://forum.pimatic.org/topic/1176/dim-up-option-for-pimatic-led-light and http://forum.pimatic.org/topic/1175/morning-light-simulate-sunrise-as-part-of-pimatic-led-light

[2015-12-22 12:08] #27 closed, assigned to nobody

[2015-12-22 12:18] philip1986 commented on #37
I published a "driver" [fix](https://github.com/philip1986/iwy_master/pull/4/files). White updating the dependency iwy_master to 0.2.3, pressing the white X should change the color to cold white.

Not sure if this solves the issue!

[2015-12-22 12:24] philip1986 commented on #36
Maybe connection handling in the ["driver"]() needs to be refactored. Currently it establishes a new connection for each call. Might be better to go with a singleton pattern and reuse one connection.

[2015-12-22 12:43] thymian commented on #37
I have no idea what changed but I cant reproduce the error. So this Issue is not about the error message but about WHAT to do with the button. I think just removing it for wifi370 is better than turning all RGB LEDs to 100% because one can do this easy with the slider/ colorpicker.

[2015-12-22 12:57] philip1986 commented on #37
I don't thing its a good idea to introduces device specific logic at the UI layer, because it can quickly become messy.

[2015-12-22 13:15] mwittig commented on #37
published pimatic-led-light@0.3.2 which contains iwy_master 0.2.3

[2015-12-22 13:22] mwittig commented on #36
Agree, but synchronizing to a single connection can be tricky as it may introduce hidden "race conditions" caused depending on the ordering of events processed.  I had to implement a single connection handling as part of pimatic-denon-avr as the AVR only accepts a single connection.

[2015-12-22 13:24] mwittig commented on #35
@philip1986 Thanks for pointing this out! I'll give it a try later on.

[2015-12-22 13:48] philip1986 commented on #36
@mwittig yeah that is true

[2015-12-22 16:53] p4co86 opened #38 "state changes after restart"
for example, devices are off, after a restart they are on. so laststate is not saved.

[2015-12-23 12:18] michbeck100 commented on #38
I think saving the last state is nice, because it could have changed in the meantime. I think it would be better to ask the led light for it's current state, when starting. Only if this is not possible, saving the state makes sense.

[2015-12-23 12:23] mwittig commented on #35
@philip1986 I have tried the suggested change but it did not change anything. The point is, a new queue is created anyway with each call to _onLocalChange() which I think is not intended. Thus I changed the implementation to create the queue once as part in the constructor. However, this did not help to get around the flickering problem.

I have also tried the "old implementation" using the deboun

[2015-12-23 12:29] mwittig opened #39 "jQuery warning "value does not conform to the required format""
`The specified value "!" does not conform to the required format.  The format is "#rrggbb" where rr, gg, bb are two-digit hexadecimal numbers.`

I think this issue has been solved as part of spectrum [1.7.1](https://github.com/bgrins/spectrum/commit/dd343a37c3ba07a8d7bd891c2b78bacd7db59253). As the color picker is based on version 1.6 the problem should disappear by updating to the current version

[2015-12-23 12:33] mwittig commented on #38
@michbeck100 Generally, you're right. Note, however, some of the LED driver protocols are unidirectional! For Milight, for example, it is not possible to query the state.

[2015-12-23 15:45] philip1986 commented on #35
@mwittig the method name `_onLocalChange()` is a bit misleading, better would be `_attachListenerOnLocalChange()`. The method is executed after rendering and I thing the class itself is instanced during the rendering. The main purpose of this method is to attach an jQuery listener, which pushes tho the queue each time something changes.

The problem I see with the old debounce logic is: that is do

[2015-12-23 16:17] mwittig commented on #35
@philip1986

Ah, OK. Looking at the generated Javascript code I realize my assumption was wrong.
The _onLocalChange() is called three times to register a "change" event listener. Thus the queue is created three times and each listener has its own queue held by the closure. So, there is one queue for on/off actions, one for color change actions, and on for white mode. Well, I think this make sense

[2015-12-23 19:07] philip1986 commented on #35
@mwittig you still see the loading toast with 50ms?

We could also try to add some kind of debounce logic for the call of `ajaxShowToast`, specially in case of the dim slider it doesn't make sense to show it after each change.

[2015-12-24 13:23] mwittig commented on #37
I am closing this now. Please re-open if the the issue pops up again. Having a different UI for RGB light in contrast to RGBW is a seperate topic. If you like please open a feature request for it. Would also nice if we can support WW/CW lamps in the future :)

[2015-12-24 13:23] #37 closed, assigned to nobody

[2015-12-24 13:25] mwittig commented on #35
@philip1986 Yes I do see it even at 50ms. I have also commented the toast calls out, but I still git the "loading" toast which causes the flickering.

[2015-12-27 16:33] philip1986 commented on #35
@mwittig how did you reproduce the issue? In the next days I will have some time to also have a deeper look in to it.

[2015-12-28 09:59] mwittig commented on #35
@philip1986 I am just using the current release as issue. See video link on the first issue post. If I change the color the "loading ..." toast always pops up for few milliseconds as shown in the video. It does not happend if I switch back to the old debounce logic.

Btw, I have added a debounce logig to the Milight driver. Along with the old debounce logic in the UI class it works pretty well - n

[2015-12-29 22:14] philip1986 commented on #35
I think this https://github.com/philip1986/pimatic-led-light/pull/40 should fix it.

Sometimes I really hate CoffeeScript!

@mwittig I not sure about the debounce logic in the Milight driver, but it looks like the promises are not returned properly e.g. [this](https://github.com/philip1986/pimatic-led-light/blob/master/devices/milight.coffee#L84) line: `Promise.resolve()` is in the scope on an cb

[2015-12-30 12:08] mwittig commented on #35
@philip1986 I've tried your fix #40. Works great for me! :+1:

Regarding result handling from debounced functions in the Milight driver I did this on purpose, but I agree this need to be ellaborated for a general sollution.

I think we should make a new release. Let me know what you think.

[2015-12-30 12:21] mwittig opened #41 "Improve debounce result handling on Milight driver"
Need to return the resilt of the called function

[2015-12-30 18:03] philip1986 commented on #35
@mwittig nice, thank you for testing.

I think the debounce logic is Milight is just not nessacy. I checked all other device and all of then return a resolved promise (also iwy_master), so no we don't care about any feedback from any device!

Regarding a new release, I currently work also on some further UI improvements. So I would suggest to wait for a couple of days and make a bigger release.

[2015-12-30 18:05] philip1986 commented on #41
Like I already mentioned [here](https://github.com/philip1986/pimatic-led-light/issues/35#issuecomment-168046364), in my opinion we should remove the debounce logic here!

[2015-12-31 10:10] mwittig commented on #35
I have tested this without the debounce logic and with some tweak of the Milight driver parameters it is working pretty well without the debounce logic. It is still slightly lagging as the Milight driver is a little bit slower than what is assumed by front end. I have reverted the debounce commit for now and may re-introduce it at later stage.

[2015-12-31 10:13] mwittig commented on #41
As discussed on #35 I have reverted the commit. I am closing this ticket for now.

[2015-12-31 10:13] #41 closed, assigned to nobody

[2015-12-31 11:46] philip1986 commented on #35
:+1:

[2015-12-31 11:47] philip1986 commented on #41
:+1:

[2015-12-31 16:44] mwittig commented on #35
0.3.3

[2015-12-31 16:44] #35 closed, assigned to nobody

[2015-12-31 16:45] mwittig commented on #39
0.3.3

[2015-12-31 16:45] #39 closed, assigned to nobody

[2016-01-04 18:55] bjornhij opened #42 "Support milight white bulbs"
Milight also offers dual white bulbs. node-milight-promise supports them. This needs UI changes, since they (obviously) have no color setting, and only 'brightup' and 'brightdown'.

[2016-01-04 23:04] mwittig commented on #42
Thanks for your contribution! I'll review asap. I have a WW/CW to test with.

[2016-01-07 12:14] mwittig opened #44 "Milight changes to "zone 0" are not reflected on the other devices."
If you setup multiple Milight devices including a "zone 0" device, changes to "zone 0" won't be reflected on the other devices. It would be nice to have an eventing mechanism on the Milight driver to notify the other devices. This should be implemented as part of the underlying node-milight-promise package.

[2016-01-07 14:08] iMarvinS opened #45 "Layout problem in frontend"
It seems like the layout of the widget in the mobile frontend does have some problems on smaller devices (iPhone 6 for example).
Can this be fixed so that the slider and the color selector are both in the same row separated by a small gap and that the switch is positioned in the second row floating left?
Currently it is really hard to adjust the brightness because the silder is just too small.

![

[2016-01-07 14:21] philip1986 commented on #45
I am currently working on it see [here](http://forum.pimatic.org/topic/332/plugin-for-wifi-controlled-led-light-iwy-light/106)

[2016-01-07 19:07] iMarvinS commented on #45
That looks promising! Issue can be closed now.

[2016-01-07 19:07] #45 closed, assigned to philip1986

[2016-01-15 14:19] mwittig opened #46 "Add support for Hue"
Implement Hue support - see also https://github.com/pimatic/pimatic/issues/28

[2016-01-15 14:37] mwittig commented on #46
See `hue` branch

[2016-01-19 11:44] FrostedKiwi opened #47 "setColor action doesn't apply brightness"
If you call the setColor action on a led-light device (Milight), it will apply that colour at full brightness instead of it's current brightness value.

[2016-01-19 18:54] FrostedKiwi commented on #47
Just tried it with Hyperion which works fine, so it might be limited to just the Milight protocol (maybe others too, but I only have Milight and Hyperion to test with).

It also applies to the webinterface: Setting a new color will set it at max brightness.

[2016-01-20 14:51] sweebee commented on #46
error when dimming (I have white bulbs).

`Cannot call method 'then' of undefined`

[2016-01-20 14:54] sweebee commented on #46
And it doesn't poll the state of the hue's.

[2016-01-20 21:16] Nears commented on #17
Hi, I have the same problem, but libudev-dev is allready installed ... :-(
Any other suggestions how to solve this?

[2016-02-01 10:27] pimagical opened #49 "installation error"
error [pimatic]: Error running "npm install pimatic-led-light"

[2016-02-01 12:46] incmve commented on #49
https://github.com/philip1986/pimatic-led-light

[2016-02-01 13:07] pimagical commented on #49
True sorry

2016-02-01 13:46 GMT+01:00 incmve notifications@github.com:

[2016-02-02 13:43] renemathieu commented on #46
Polling the status of the light(s) would be very nice as the lightStatus() function of the node-hue-api provides

I posted a code snippet for updating and calculation:

https://forum.pimatic.org/topic/786/philips-hue-plugin/33

[2016-02-03 21:37] pimagical commented on #49
Still not working using sudo apt-get install libudev-dev

error [pimatic]: ENOENT, no such file or directory '/home/pi/pimatic-app/node_modules/pimatic-led-light/package.json'

package.json is located in the folder!

[2016-02-06 01:25] djmvt opened #50 "When installing hue branch hyperion stops working"
![knipsel](https://cloud.githubusercontent.com/assets/16620825/12863605/b115b048-cc78-11e5-882f-45a0debd4e41.JPG)
Getting this error after installing the hue branch on pimatic.
any clue what is going wrong?

[2016-02-06 09:30] djmvt commented on #50
if I remove es6-promise from node_modules (in pimatic-led-light/node_modules) hyperion starts, obviously Hue stops working then. so it's either hyperion or hue.

[2016-02-08 11:56] dandresm commented on #38
It would be nice to have the option to not trigger the switchs on pimatic start. The actual problem is that when pimatic or raspberry restart, all the lights gets switched on.

[2016-02-08 12:11] michbeck100 commented on #38
Actually the lights should just be switched on if the saved state says that they have been switched on, when pimatic was stopped. At least that's what this piece of code tries to do:

`
if @power then @turnOn() else @turnOff()
`

This code is in the constructor for most devices, but i think this doesn't work, because the default value of  `@power` is "off", and "off" is not a valid value for a boo

[2016-02-08 13:08] benbeton opened #51 "Sync switches by rule"
Hi,

I'm trying to turn off zone 1 - 4 when Zone 0 (all lights) is turned off.
So I created a rule: "**if** state of milightzone0.power is off **then** turn off milightzone1 and turn off..."

but this can't be saved, seems that the if condition did not work, any idea how to achieve this?

[2016-02-08 17:52] mwittig commented on #51
Seems like you are mixing up the expression syntax for "variable comparison" and "attribute of a device" predicates. For your case the following should work: **if** `"$milightzone0.power" is "true"` **then** ...

Note, for some reason "on" does not work as it should. For this reason I have been using "true" which works as expected.

[2016-02-08 17:52] #51 closed, assigned to nobody

[2016-02-08 17:56] mwittig commented on #49
Did you solve this? Otherwise, try the following:

[code]

[2016-02-08 17:59] mwittig commented on #38
@michbeck100 You're right. this is a design flaw of the plugin. "true" and "false" shall be used.

[2016-02-08 19:15] mwittig commented on #46
The base package `node-hue-api` has been updated. Now it support status queries for RGB color. I am going to integrate this asap. See also https://github.com/peter-murray/node-hue-api/issues/77

[2016-02-10 21:28] sweebee commented on #46
Does this also mean the rgb values representate the real color?

Because when I want to set the hue bulbs to white/yellowisch (like normal bulbs) the color picker shows green.

[2016-02-12 11:46] mwittig commented on #46
Well it should. I'll try to reproduce this error.

[2016-02-19 13:36] llewy commented on #42
Already implemented?

[2016-02-20 09:55] mwittig commented on #42
I am currently working on it. It rquires UI changes to make it a proper solution.

[2016-02-22 18:48] Xento commented on #38
Yeah it should be completly switched to true and false.
When this is done the pimatic-hap has to be switched to true and false, too.

[2016-03-25 14:02] thomkal opened #53 "SetWhite for IWY Led lamps"
There is now option the set the standard White in combination with rules in pimatic. How can I set the default white, within a rule?

[2016-03-27 14:19] jochem4207 opened #54 "Milight led strip WW"
Is it supposed to work with WW strips to? using this kind of controllers: https://imgur.com/a/GxCcA

My config is like this:

[code]

Tried also zone 0 to turn all on of.

No response from my led strip. Multiple apps are working fine via the wifi bridge (v4) and the RF remote works fine to.

[2016-03-28 08:40] mwittig commented on #54
Hi, Turning the strip on/off should work. Dimming is likely to have no effect as different control code have to be used for WW as opposed to RGB. There is a pending PR for WW support and I'll check if we can integrate this soon.

[2016-03-28 09:51] jochem4207 commented on #54
@mwittig Cool, thank you. Then I probably have some config error somewhere. Do you know if there is a way to read out the milight wifi box? to see if it gets commands from pimatic/other apps?

[2016-03-29 14:01] mwittig commented on #54
@jochem4207 You can sniff the IP traffic using WireShark or alike, but this will only tell you whether or not the UDP command packets are sent to the WifiBox. I haven't heard about facility to read out the wifi box itself. As you said "Multiple apps are working fine via the wifi bridge (v4)" I think it should also work with pimatic. If you can control the strip with your smartphone (using the Mili

[2016-03-29 22:01] mwittig commented on #53
There is no rule action to enable "white mode" for RGBW lamps, however, to my knowledge the IWY lamps only support RGB. Please let me know if your lamp is a RGBW model. If you think the plugin should support a "white mode" action feel free to post a feature request at https://forum.pimatic.org/category/14/feature-requests

To set the lamp to white color (that's not the same as "white mode" for a R

[2016-03-30 13:54] jochem4207 commented on #54
@mwittig thanks for the info! will close it issue now as it is double and there is already a PR pending.

[2016-03-30 13:54] #54 closed, assigned to nobody

[2016-03-31 12:34] fototeddy opened #55 "dummyLED always starts as on"
i have a dummy LED in my pimatic to use it with a rule to send HEX color codes to a web server. nothing special. But every time i start pimatic, the dummyLED starts with the status ON wich is not correct. ist there any way to set the default state of the dummied to OFF?

[2016-04-08 22:08] scobby opened #56 "Plugin not working with Firmware 4.02.11T.zj0.1"
Hello Everyone,

bought 3x times a wifi370 but they have Firmware 4.02.11T.zj0.1 and that wont work with the standard protocol or i didnt get it running.

I already got some of the commands from wireshark, but i am stuck with the color selection. In theory i know which brackets are for each color. But there is also a fourth bracket with a matching code. I dont know the formula to get each color co

[2016-04-09 09:44] mwittig commented on #56
If you can read perl code have a look at WifiLight for FHEM. The command sequences you have sniffed match the LD382 device in their code https://github.com/herrmannj/wifilight/blob/master/FHEM/32_WifiLight.pm (May be check also FHEM source for newer version as code should be part of FHEM code base now). Search for WifiLight_RGBWLD382_Checksum - may be it is applicable for your case. If you need he

[2016-04-09 11:15] scobby commented on #56
that looks good, but i cant read perl  that good to transform that to my bash script ;-)
Also i would love to see that directly in the pimatic-led-light. Currently i develop all my addons for pimatic in bash ;-) its the fastest way for me.

[2016-04-10 07:56] thomkal commented on #53
Hi
The iwy modell is a RGB, when you set it to white it's a blue/white light, as default it's more like an old fanshioned light bulb /more yellow in it. so when set led1 to white it's shining blue and cold.

On pimatic, you can set with the color chooser to "no color" and then it's the default "yellow" one. But if you set it by rule, you can't choose default color.

Perhaps you have an idea, I tri

[2016-04-11 17:01] scobby commented on #56
ok have found a way to create the checksum:

sum all parts of the HEX COMMAND in decimal without the checksum and modulo % 256
After that convert to HEX

example:
31 fe 00 00 00 00 0f 3e

CHECKSUM is = 3e (62)

HEX = DECIMAL

31 = 49
fe = 254
00 = 0
00 = 0
00 = 0
0f = 15
SUM = 318

MODULO = SUM % 256

318 modulo 256 = 62

and 62 in hex is 3e

ready!

can anyone add this to the plugin?

[2016-04-11 17:12] scobby commented on #31
true!

[2016-04-11 19:04] mwittig commented on #56
Yes, I'll have look.

[2016-04-12 16:06] scobby commented on #31
currently turnOn and turnOff are not implemented. You cant react with rules to statechange or variable change. look at the sourcecode.

[2016-04-18 10:11] mwittig opened #58 "Change github project description"
The current description shown at the top of the project home page reads "A template for creating plugins http://pimatic.org". This should be replaced by something more meaningful like:

Pimatic plugin to control LED lights

This change can only be done by the owner, i.e., @philip1986

[2016-04-18 10:14] mwittig opened #59 "v0.9.x"
@philip1986 As there are some breaking dependency changes for pimatic 0.9 I have created a new v0.9.x branch and published a 0.9.0 version with btea tag from it. As soon pimatic 0.9 has been released we can merge stuff back to master. Work on master should be limited to urgent bug fixes. Any new stuff should go in the v0.9.x branch or a separate development stream.

[2016-06-10 16:56] thymian opened #63 "Error at pimatic start"
Hey,

everytime i start pimatic i get these errors (but everything works fine):

http://pastebin.com/gQvvvEuK

I also uploaded my log file:
[pimatic-daemon.txt](https://github.com/philip1986/pimatic-led-light/files/309421/pimatic-daemon.txt)

[2016-08-20 11:05] stingone opened #65 "Rule error this.device.getDimlevel is not a function"
After the latest update pimatic/led light i get the error that dimlevel is not a function. looks like it only occurs with led-light devices.

[2016-08-21 13:13] benbeton commented on #65
same here.

my rule:

_dim Lampe Galerie to 10% and turn on Lampe Galerie_

gives me the error:

_Error on evaluation of rule condition of rule licht-an-galerie-bewegung-nachts: this.device.getDimlevel is not a function_
_rule licht-an-galerie-bewegung-nachts error executing an action: this.device.getDimlevel is not a function_

I’m using led-light 0.9.1

[2016-08-22 13:15] mwittig commented on #65
See https://forum.pimatic.org/topic/2127/error-rule-after-update/10
Please let me know, which device types do you use, i.e., IwyMaster, Milight, MilightRF24, Wifi370, Blinkstick, DummyLedLight, or HyperionLedLight?

[2016-08-22 14:37] mwittig commented on #65
Fixed in 0.9.2.

[2016-08-22 14:37] #65 closed, assigned to nobody

[2016-10-02 09:38] scobby commented on #31
any changes here?

[2016-10-02 10:14] mwittig commented on #31
turnOn and turnOff have been implemented.

[2016-11-14 14:28] michbeck100 commented on #50
should be fixed now, so this issue can be closed.

[2016-11-14 14:40] michbeck100 commented on #55
see https://github.com/philip1986/pimatic-led-light/pull/66. This should fix this. This problem isn't specific to the dummyLED, all led implementations have the same problem.

[2016-11-14 14:41] michbeck100 commented on #38
https://github.com/philip1986/pimatic-led-light/pull/66 should fix this

[2016-11-14 17:17] mwittig commented on #50
Should have been fixed with v0.9.1. No feedback from @djmvt

[2016-11-14 17:17] #50 closed, assigned to nobody

[2016-11-14 20:03] michbeck100 commented on #59
I think it's time to merge the 0.9.x branch into master and get rid of the 0.8.x stuff. Maybe a 0.8.x branch makes sense.

[2016-11-30 16:33] scobby commented on #56
any progress with this? need help?

[2017-01-04 14:01] DDNRN opened #67 "missing translation (0.9.3)"
I'm missing translation in german for the on/off button for example. Next to other standard On/Off buttons it looks really ugly.
Could maybe also be done by  "xOn/xOffLabel"  but it's not implemented (in my version 0.9.3?)
Isn't this all the same for v0.9 devices? (but should?)

[2017-01-06 05:54] HawkingJan opened #68 "Support for LIFX Light Bulbs?"
Hi,
I'm thinking about buying a LIFX Light Bulb
https://www.lifx.com
Even compared to the latest 3rd generation of Philips Hue they got good ratings, see e.g. the latest report here https://www.cnet.com/news/smart-home-showdown-philips-hue-vs-lifx/
I especially like the fact, that I can start with just one bulb and need no extra bridge and the LIFX brightness is larger.

Unfortunately I didn't fin

[2017-01-06 12:56] mwittig commented on #68
On the downside the LIFX bulbs are very expensive. Did you consider Yeelight (WiFi) as an alternative? Background: I am planning to provide a driver for yeelight, but currently there are no plans for LIFX unfortunately.

http://www.pcadvisor.co.uk/test-centre/digital-home/best-smart-light-2017-uk-best-smart-bulbs-you-can-control-from-your-phone-3647226/

[2017-01-06 17:12] HawkingJan commented on #68
I agree that the LIFX bulbs are expensive (especially if compared to non-smart bulbs), but not that much if compared to the (also expensive but quite popular) Philips Hue.
As I said I want to start with just one coloured bulb (actually most lights in my apartment are based on the smaller E14 socket and to my knowledge there are no smart and bright bulbs with this socket available yet and I don't w

[2017-01-06 17:38] mwittig commented on #68
Well, give me some time to review. I found a page providing a "virtual bulb" - https://virtualbulb.lifx.co/ and some other projects alike. This makes it possible to test stuff without having the hardware in place. The library  node-lifx also looks nice and easy to use.

[2017-01-25 07:00] joeyboey opened #69 "Rules: brightness, variable as colour value"
It would be nice if you could set the brightness via the rules aswell as being able to input a variable as a colour value, e.g. "set milight to $temp_colour"

[2017-01-25 08:47] mwittig commented on #69
Hi, you can change brightness using the dim action which takes a percentage value (0 - 100)! For example:

[code]

There may be cases where the action does not work as expected. For example, if the the bulb had been offline it may happen the dim action has no effect as driver does not properly retry requests on failure. This is due to shortcomings of the underlying driver package. I am planning to

[2017-01-25 08:47] #69 closed, assigned to nobody

[2017-01-25 09:46] joeyboey commented on #69
Thanks for the quick answer. :) And whats with the variable?

[2017-01-25 10:01] mwittig commented on #69
Say you have a variable $brightness you use the action as follows:
[code]

[2017-01-25 10:05] joeyboey commented on #69
i wanted to temporarily store a colour value, then apply it later.
i think i have to specify the variable type as "hex color" for it to work

Right now i'm getting a " could not find an provider that provides the next action..." error

[2017-01-25 14:45] mwittig commented on #69
That's really another issue, isn't it?

You can specifiy the color by giving one of 140 selected color names or by providing the hexvalue preceded by a hash sign. Providing a variable is not supported at this point!

Examples:
[code]

For a list of supported color names see https://github.com/philip1986/pimatic-led-light/blob/master/color_schema.json

[2017-01-25 15:11] joeyboey commented on #69
Yes it is. I just signed up for this, I'm not that experienced yet. Thanks
for your quick help :)

Marcus Wittig <notifications@github.com> schrieb am Mi., 25. Jan. 2017,
15:45:

[2017-01-25 16:17] mwittig commented on #69
No worries. For general Q&A please also have a look at the pimatic forum. It provides a good source of information and lively exchange between users. https://forum.pimatic.org/

[2017-02-04 16:04] thost96 opened #70 "default state"
Hi, i'm using pimatic-led-ligth for my milight setup and when i'm restarting pimatic all of my milight devices get turned on.

It would be nice to implement a default state at startup. Is this possible?

[2017-02-11 12:27] TehEbil opened #71 "Invalid config of device mrf12: Property "port" is not a valid property"
Hello,
just copied your text to device section and I keep getting the stated error.

Port is "/dev/ttyUSB1", but changing it to ttyUSB1, USB1 and 1 doesn't change anything, what am I doing wrong?

Edit:
I can edit the following under devices in the config file as the following:
[code]
but I neither can edit it with the pimatic GUI nor it seems to work (getting undefined port).

[2017-02-11 13:49] mwittig commented on #71
@Xento can you please have a look at this?

[2017-02-11 14:01] mwittig commented on #71
@TehEbil ~~As far as I can see you have misplaced the port property which should be one the same level as zones. See the example I have copied from README~~ EDIT: Actually, the example given in README does not match the current device schema.

[2017-02-11 14:45] TehEbil commented on #71
Thank you for your effort & testing.

If you do that this way, pimatic automatically changes it to port being in zone and you get the following error when restarting pimatic:
Error loading device "mrf24": Invalid port specified: undefined

Btw. what is the plugin doing? Does it only send x, r for enabling henryks listening mode (for debugging example), or can you set channels, too? Because for me,

[2017-02-11 15:15] Xento commented on #71
In my opinion it's the best to define the port outside the zones because [my version](https://github.com/Xento/openmili) of henryks sketch accepts as many zones / remotes as you like.
So its a kind of gateway and one port definition for all zones is enough because you only need one arduino for everything.

My version can receive the commands from the remotes and sets the state of the devices in pi

[2017-02-11 15:27] TehEbil commented on #71
Hello,
I think I tried yours before, too.

It gave me an compiler error because packet[] is declared locally in the if but is then used outside (see l.43 -> l.59ff), so I tried to move it before the second if but then I got spammed with ID:1001 Group 6 (or second time: ID:0002 Group 6) without pushing any button.

And doesn't one have to change
`  static const uint8_t CHANNELS[] = {9, 40, 71};`
?

[2017-02-11 18:10] Xento commented on #71
Mine version just build fine with this RF24 lib: https://github.com/TMRh20/RF24
9, 40, 71 are the correct channels.
Which bulbs do you have? This version only works for RGBW bulbs.
Group 6 can't be correct. You can only have 4 groups!

[2017-02-11 18:42] TehEbil commented on #71
I dont get it, how is that even possible that it works for you? Look at the following:

[code]

I am just wondering why this would work for you, am I doing something wrong?

Yeah, I know, it's strange. I think it's because different packets are received and because of byte shifting, the outcome are some wrong groups, because I don't use RGBW bulbs but got a RGBW Lamp instead. So it's not possible

[2017-02-11 19:23] Xento commented on #71
Ahh, I had multiple versions of my repo.
I think I fixed the bug.

[2017-02-11 21:24] TehEbil commented on #71
Oh I see, now it makes sense, lol.
Unfortunately, I don't have any output. it fails at mlr.available() -> _pl1167.receive(CHANNELS[0])

btw.: do you also get these warnings?
[code]

I played a bit with that code, replaced channels with looping from i=0 to i = 9 and finally I at least get some output:

Packet received: 6D6D6D6D6D6D6D6D6D6D6D6D (unreversed)
Packet received: B6B6B6B6B6B6B6B6B6B6B6B6

[2017-02-11 21:35] Xento commented on #71
No I don't get this warnings.
Is this lamp from milight?
If not I think you have to completely reverse engineer the protocol.
Milight has some new lights with a different protocol.

[2017-02-11 21:56] TehEbil commented on #71
I actually think it is, at least it looks like one:

[click me for photo](http://i.ebayimg.com/images/g/hJYAAOSwux5YWJOn/s-l1600.jpg)

Well, so there's still hope that the warnings are the reason for wrong input. Do you know why I get those, if I cloned (downloaded zip) your project, lol?

Which Arduino IDE are you using, or do you compile via linux, maybe another gcc version or something x.x

I a

[2017-02-11 22:03] Xento commented on #71
Hmm this lamp should work.
The remote looks like mine.
I'm using Arduino IDE 1.6.11
I don't know what henryk is doing there ;)

[2017-02-11 22:22] TehEbil commented on #71
hmm, should try it too with 1.6 then, using 1.8.1 right now.

I used another syncword and different channel now from here:
http://arduino-projects4u.com/milight-rf-control/
the CW / WW one (although mine is RGBW)

and now I get the following output:
[code]

But unfortunately, it's not what I really pressed on the remote, but for now the one which gives me the least errors (or at least seem to work

[2017-02-11 22:26] Xento commented on #71
I'm sorry I don't have it setup at the moment.

[2017-02-11 22:38] TehEbil commented on #71
Okay, one last question:

Do you know how to fix that pimatic setup?
if I do the following:
[code]

I get this error message after restarting:
Error loading device "mrf24": Invalid port specified: undefined

It automatically changes to:
[code]

[2017-02-11 22:40] Xento commented on #71
I think the device-config-schema.coffee has to be changed.

[2017-02-11 22:47] TehEbil commented on #71
ehm okay, sorry then I got another question;

How can I install a pimatic plugin from github?
just clone it and then add it to pimatic-app/node_modules? >.< And don't I have to include it somewhere, too?

[2017-02-12 09:12] mwittig commented on #71
Please be aware that the current branch is v0.9.x!

1. cd  to pimatic-app/node_modules and rm -rf pimatic-led-light
1. git clone -b v0.9.x pimatic-led-light
1. cd pimatic-led-light
1. npm install
1. Make sure you have pimatic-led-light configured as part of "plugins" of config.json

[2017-02-12 12:27] TehEbil commented on #71
@mwittig
Thank you for your answer, unfortunately, it's not working for me.

I failed at step two, it sais it'd be no repos. Instead, I tried to -b v0.9.x (didnt work either) and at last, I tried to clone the master, add branch v0.9.5, checkout and git pull it, but that doesn't work either (but the last is rather my fault, I don't actually know how to switch to a branch with git).

[2017-02-14 08:15] scobby commented on #56
@mwittig can you implement that fix for wifi370? my bash script doesnt have a backchannel, so the lights always resets in the pimatic installation. Would be fine if this would work with the default pimatic-led-light. If you need any tester, i am here to test the fix!

[2017-03-08 16:58] scobby opened #72 "Can not change the color of the Dummy LED light via rule or API"
Cant change the Color of DUMMY LED Device.

The corresponding variable is not writeable via rule or API call.
Without this ability i cant implement my own LED light.

[2017-03-22 11:51] mwittig commented on #70
Sorry for the delay on answering this one.

The state at startup is set to the last known state as filed in the database. So, if you turn off the lights and then restart pimatic the light should stay turned off. ~~Did you try this?~~ EDIT: However, this does not work as expected as state handling for the power switch is buggy. See also #38, #54, #55 I'll look into the matter asap (maybe fixed by #

[2017-03-22 15:57] thost96 commented on #70
I worked around this using a simple rule at startup, which turn the light off.

[2017-04-15 23:34] pplucky commented on #42
Would be nice if it was possible to do the same for Yeelight, which also exist only in white.

[2017-05-04 17:47] pplucky opened #73 "Using branch 0.9.x, Yeelight lamps always show off in graph (although on at times)"
Using latest Pimatic and latest branch 0.9.x of this plugin, Yeelight lamps always seem to show as off in graph, even though these were turned on during the displayed period.

Anyone else has seen this issue also?

Thanks in advance.

[2017-05-25 19:10] amiraoul commented on #68
Any news on the lifx integration?

[2017-08-25 08:50] michbeck100 commented on #70
This is definitely fixed with #66. Would be great if the PR gets merged some time

[2017-09-22 20:55] kiwikern opened #74 "Error with Yeelights"
I've added a couple of different Yeelight devices (color bulb, white bulb, desk lamp).
With all of them, I experience the same behavior: Triggering an action results in at least five 'DONE' toast messages, but turning the lamps on/off works. When changing either color or brightness, the controls wildly change (turning on/off several times etc.) until this error message appears:

[code]

[2017-09-22 22:17] kiwikern commented on #74
Switching to the v0.9.x branch using these [instructions](https://forum.pimatic.org/topic/1114/updated-how-to-install-a-plugin-from-github-using-npm-or-git) and creating the devices (for the yeelights) manually via the config resolved the issue. (sorry!)

[2017-09-26 10:05] Gratizzz commented on #71
Any news on the issue "Error loading device "mrf24": Invalid port specified: undefined"? I have the same problem :(.

[2017-09-26 11:21] mwittig commented on #71
@Gratizzz ~~~did you try the v0.9.x branch. As @TehEbil had difficulties setting it up you may want to try method 1 described at  https://forum.pimatic.org/topic/1114/updated-how-to-install-a-plugin-from-github-using-npm-or-git~~~

v0.9.x is broken. The problem is that @Xento changed the API of the underlying library while he did not updated the MilightRF24 implementation.  See my request from Feb

[2017-09-26 11:56] michbeck100 commented on #55
#66 was merged, so this should be fixed with the next release.

[2017-09-26 11:57] michbeck100 commented on #70
#66 was merged.

[2017-09-26 12:03] Gratizzz commented on #71
@mwittig That would be awesome! I'm ready to test some fixes, just let me know!

[2017-09-26 13:07] Gratizzz commented on #71
Hello Marcus,

I did not (yet) try it as described in the link. When I arrive at home I’ll try it out and let you know by mail!

Regards,
Pascal

[2017-10-01 06:26] Gratizzz commented on #71
@mwittig did you already find some time to look at the issue? Looking forward to have it working :)

[2017-10-12 08:22] Gratizzz commented on #71
@mwittig did you already had a change to look at the issue :) I have my nrf24l01 ready to test!

[2017-11-16 09:56] Gratizzz commented on #71
@mwittig do you already know I you have some time in the near future?

[2017-12-11 11:01] 0rTiN opened #75 "Plugin somehow los connection to the devices after some time"
Hi,
the plugin stops working for me after some hours. I'm not more able to operate a device.
When I try to change the dim level I get a timeout. Via Yeelight app or via api command over a bash script everything still works.

When I restart pimatic and/or bulb it works again.

[2017-12-11 21:46] kiwikern commented on #74
Unfortunately, the error still occurs after the update.

[code]

[2018-02-02 14:19] michbeck100 commented on #70
@thost96 as #66 was merged, is the issue resolved for you?

[2018-02-02 16:26] thost96 commented on #70
@michbeck100 yes, the issue is resolved for me ;-)

[2018-02-02 16:26] #70 closed, assigned to nobody

[2022-05-07 13:42] #73 closed, assigned to nobody